<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="testallsuite"  parallel="tests">

	<test name="158adxtest"  enabled="true" >
		<parameter name="explorerName" value="firefox"/>
		<parameter name="pnumber" value="15000219168" />
		<parameter name="pwd" value="aa123456," />
		<classes >
			<!-- 登录用例 -->
			<class name="com.uiframe.testcases.LoginCase" >
			</class>
			<!-- 新增广告主用例 -->
			<!-- <class name="com.uiframe.testcases.CreateAddAdver" > -->
			<!-- <methods> -->
			<!-- <include name="createAdVer" /> -->
			<!-- </methods> -->
			<!-- </class> -->

		</classes>
	</test>
	<test name="2">
		<parameter name="explorerName" value="chrome"/>
		<parameter name="pnumber" value="15000219169" />
		<parameter name="pwd" value="aa123456," />
		<classes >
			<class name="com.uiframe.testcases.LoginCase"  />
		</classes>

	</test>



	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="com.uiframe.testng.TestNGListener" />
		<listener class-name="com.uiframe.testng.RetryListener" />

	</listeners>
</suite>