<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" >
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
	      	<PatternLayout pattern="%d [%t] %-5p [%c] - %m%n"/>
	    </Console>
	    <RollingFile name="RollingFile" fileName="logs\syss.log" filePattern="logs\syss_%d{yyyy-MM-dd}-%i.log">
		    <Policies>  
	        	<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
	        	<SizeBasedTriggeringPolicy size="1MB"/>
	    	</Policies>
	    	<PatternLayout pattern="%d [%t]---%m%n"/>
	    	<DefaultRolloverStrategy max="20"/>    
	    </RollingFile>
    </Appenders>
    
    <Loggers>
        <root level="debug">
            <appender-ref ref="Console" />  
            <appender-ref ref="RollingFile" />          
        </root> 
    </Loggers>
</Configuration>