<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5p [%c] - %m%n" />
		</Console>
		
<!--滚动日志-all 		 -->
		<RollingFile name="RollingFile" fileName="logs\syss.log"
			filePattern="logs\syss_%d{yyyy-MM-dd}-%i.log">
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
				<SizeBasedTriggeringPolicy size="1MB" />
			</Policies>
			<PatternLayout charset="UTF-8" pattern="%d [%t]---%m%n" />
			<DefaultRolloverStrategy max="20" />
		</RollingFile>

<!-- 滚动日志__firefox -->
		<RollingFile name="firefoxRollingFile" fileName="logs\firefox\rollingLog.log"
			filePattern="logs\rollingLog_%d{yyyy-MM-dd}-%i.log">
			 <RegexFilter regex=".*firefox.*" onMatch="ACCEPT" onMismatch="DENY"/><!-- 正则过滤器——符合firefox的日子内容接受 -->
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
				<SizeBasedTriggeringPolicy size="1MB" />
			</Policies>
			<PatternLayout charset="UTF-8" pattern="%d [%t] %-5p [%c] - %m%n" />
			<DefaultRolloverStrategy max="20" />			
		</RollingFile>
	
<!-- 滚动日志__chrome -->
		<RollingFile name="chromeRollingFile" fileName="logs\chrome\rollingLog.log"
			filePattern="logs\rollingLog_%d{yyyy-MM-dd}-%i.log">
			<RegexFilter regex=".*chrome.*" onMatch="ACCEPT" onMismatch="DENY"/><!-- 正则过滤器——符合chorome的日志内容接受 -->
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
				<SizeBasedTriggeringPolicy size="1MB" />
			</Policies>
			<PatternLayout charset="UTF-8" pattern="%d [%t] %-5p [%c] - %m%n" />
			<DefaultRolloverStrategy max="20" />
		</RollingFile>		
		
<!-- 滚动日志__chrome仅错误日志 -->
		<RollingFile name="chromeErrorRollingFile" fileName="logs\chrome\rollingErrorLog.log"
			filePattern="logs\rollingErrorLog_%d{yyyy-MM-dd}-%i.log">
			<Filter>
				<ThresholdFilter level="ERROR" onMatch="NEUTRAL" onMismatch="DENY"/>
				<MarkerFilter marker="chrome" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filter>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
				<SizeBasedTriggeringPolicy size="1MB" />
			</Policies>
			<PatternLayout charset="UTF-8" pattern="%d [%t] %-5p [%c] - %m%n" />
			<DefaultRolloverStrategy max="20" />
		</RollingFile>		
		
	</Appenders>

	<Loggers>
		<root level="DEBUG">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
			<appender-ref ref="firefoxRollingFile" />
			<appender-ref ref="chromeRollingFile" />
			<appender-ref ref="chromeErrorRollingFile" />
		</root>
	</Loggers>
</Configuration>